name: Auto Patch Release

on:
  workflow_call:
    inputs:
      mode:
        description: "Auto-release mode"
        required: false
        type: string
        default: minor

jobs:
  auto-release:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@d17e3a9a36850ea89f35db16c1067dd2b68ee343    # v4.0.1
        with:
          application_id: ${{ secrets.BYTELABS_APP_ID }}
          application_private_key: ${{ secrets.BYTELABS_APP_KEY }}

      - name: "Patch Release Me"
        uses: 42ByteLabs/patch-release-me@0.6.4
        with:
          mode: ${{ inputs.mode }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725    # v8.0.0
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}
          title: "Chore - Auto Patch Update Release"
          commit-message: "[chore]: Auto Patch Release"
          body: |
            This is automatically created as a chore to patch and update the release.
          branch: "auto-patch-release"
          labels: "version"
          delete-branch: true
