name: Conatiner Build and Release

on:
  workflow_call:
    inputs:
      version:
        description: "Version of the project"
        required: true
        type: string
      container-name:
        description: "Container image name"
        type: string
        default: "${{ github.repository }}"
      docker-file:
        description: "Docker File location"
        type: string
        default: "./Dockerfile"
      platforms:
        description: "Container platforms"
        type: string
        default: "linux/amd64"

env:
  REGISTRY: ghcr.io

jobs:
  build-publish-image:
    # runs-on: [self-hosted, "Linux"]
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: write
      # to upload Docker image
      packages: write
      # to upload to GitHub Advanced Security
      security-events: write
      attestations: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435    #v3.11.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130    # v3.7.0

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef    # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893    # v5.9.0
        with:
          images: ${{ env.REGISTRY }}/${{ inputs.container-name }}
          tags: |
            # latest / main
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            # SemVer
            type=semver,pattern={{version}},value=${{ inputs.version }}
            type=semver,pattern=v{{version}},value=${{ inputs.version }}
            type=semver,pattern=v{{major}},value=${{ inputs.version }}
            type=semver,pattern=v{{major}}.{{minor}},value=${{ inputs.version }}

      - name: Build initial ${{ inputs.container-name }} image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    #v6.18.0
        with: 
          file: "${{ inputs.docker-file }}"
          context: .
          load: true
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # Upload Software Bill of Materials (SBOM) to GitHub
      - name: Upload SBOM
        uses: advanced-security/spdx-dependency-submission-action@5530bab9ee4bbe66420ce8280624036c77f89746  # v0.1.1
        with:
          filePath: '.'
          filePattern: '*.spdx.json'

      # Scan the image for vulnerabilities and if high severity vulnerabilities are found, fail the build
      # - name: Run the Anchore / Grype scan action
      #   uses: anchore/scan-action@1638637db639e0ade3258b51db49a9a137574c3e # v6.5.1
      #   id: scan
      #   with:
      #     image: ${{ env.REGISTRY }}/${{ inputs.container-name }}:latest
      #     only-fixed: true
      #     fail-build: false
          # severity-cutoff: high

      # Upload the SARIF artifact to the GitHub Advanced Security tab
      # - name: Upload SARIF artifact
      #   uses: github/codeql-action/upload-sarif@v3
      #   if: always()
      #   with:
      #     sarif_file: "${{ steps.scan.outputs.sarif }}"
      #     category: "/grype-${{ inputs.container-name }}"

      - name: "Push Container ${{ inputs.container-name }}"
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    #v6.18.0
        id: build
        with:
          file: "${{ inputs.docker-file }}"
          context: .
          platforms: "${{ inputs.platforms }}"
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Attest image
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a    # v3.0.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ inputs.container-name }}
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true
