name: "GitHub - Release"

on:
  workflow_call:
    inputs:
      version:
        description: "Version"
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "GitHub Release"
        env:
          GH_TOKEN: ${{ github.token }}
          VERSION: ${{ inputs.version }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          set -e

          git config user.name github-actions
          git config user.email github-actions@github.com

          git tag "${VERSION}" --force
          git push origin "${REF_NAME}"
          git push origin --tags --force

          gh release create --latest --generate-notes --title "v${VERSION}" "${VERSION}"
